/* raleway-100 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('fonts/raleway-v11-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v11-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-200 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
       url('fonts/raleway-v11-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v11-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'),
       url('fonts/raleway-v11-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
       url('fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    margin: 0px;
}

body {
    display: none;
}

h1, h2, p {
    margin: 0px;
}

#clockbox {
    font-size: 30px;
    margin-top: 28px;
}

#weathertext {
    margin: 0px;
    float: right;
}

#weather {
    text-align: right;
    margin-top: 0px;
    font-size: 20px;
}

#credit {
    text-align: left;
    font-size: 12px;
    float: left;
}

#weatherIcon {
    margin-top: -24px;
    margin-right: -24px;
}

#links {
    bottom: 0;
}

.main, ::-webkit-input-placeholder  {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 300;
}

#content {
    text-align: center;
}

#greeting {
    font-weight: 100;
    font-size: 100px;
}

#name {
    font-size: 60px;
    font-weight: 200;
}

#search {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 50px;
    font-size: 28px;
    transition: height 1s;
    -webkit-transition: height 1s;
    width: 550px;
    margin-left: -27%;
}

.inputline {
    color: white;
    margin-top: -8px;
}

#searchline {
    width: 550px;
}

#searchicon {
    float: left;
    width: 35px;
    margin-left: 30%;
    margin-top: 8px;
}

@media screen and (min-width: 1500px) {
    #searchicon {
        margin-left: 35.5%;
    }
    #search {
        margin-left: -34%;
    }
    #content {
        margin-top: 100px;
    }
}

#searchbar {
    text-align: center;
}

#fullsearch {
  margin-top: 5%;
}

#title {
  text-align: center;
  font-size: 35px;
  font-family: 'Raleway';
  font-weight: 100;
}
