@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600';
html {
    margin: 0px;
}

body {
    display: none;
}

h1, h2, p {
    margin: 0px;
}

#clockbox {
    font-size: 30px;
    margin-top: 28px;
}

#weathertext {
    margin: 0px;
    float: right;
}

#weather {
    text-align: right;
    margin-top: 0px;
    font-size: 20px;
}

#credit {
    text-align: left;
    font-size: 12px;
    float: left;
}

#weatherIcon {
    margin-top: -24px;
    margin-right: -24px;
}

#links {
    bottom: 0;
}

.main {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    /*text-shadow: 0 0 3px #000000;*/
}

#content {
    text-align: center;
    margin-top: 100px;
}

#greeting {
    font-weight: 100;
    font-size: 100px;
}

#name {
    font-size: 60px;
    font-weight: 200;
}

#search {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
    text-align: center;
}

#searchline {
    color: white;
    margin-top: -8px;
    width: 729px;
}

#search:focus {
    height: 50px;
    font-size: 16px;
}
